<header>
  <nav class="navbar">
  <a href="/" class="logo">
    <img src="images/logo.png" alt="MyVault Logo" height=70>
  </a>

  <ul class="nav-links">
    <form id="search-form">
    <input name="searchText" type="text" class="search-bar" placeholder="search my vault..." required>
    <button type="submit" class="search-button">Search</button>
    </form>
    <li>Terry Cruz</li>
    <li>Logout</li>
  </ul>
</nav>
</header>
