<header>
  <nav class="navbar">
  <a href="#" class="logo">
    <img src="images/logo.png" alt="MyVault Logo" height=90>
  </a>

  <ul class="nav-links">
    <input type="text" class="search-bar" placeholder="search my vault...">
    <li>Terry Cruz</li>
    <li>Logout</li>
  </ul>
</nav>
</header>
