<!DOCTYPE html>
<html lang="en">

<head>
  <title>MyVault</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

  <script defer src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/passwords.js"></script>
</head>

<body>
    <%- include('./partials/_header'); %>

    <main class="main-content">
      <ul class="side-menu">
        <li class="li-all">All Passwords</li>
        <li class="li-work">Work</li>
        <li class="li-finance">Finance</li>
        <li class="li-social-media">Social Media</li>
        <li class="li-entertainment">Entertainment</li>
      </ul>

      <div class="passwords-section">
      <div class="vault-header">
        <h1 id="vault-header-cat">MyVault</h1>
        <button type="button" class="add-new">Add New</button>
      </div>

      <div class="new-password-box">
        <p>Add new login</p>
        <div class="new-inputs">
          <form class= "addNewButton">
          <input type="text" id="new-title" name="title" placeholder="Title" required>
          <input type="text" id="new-user" name="login" placeholder="Username/email" required>
          <input type="text" id="new-website" name="website" placeholder="Website" required>
          <input type="text" id="new-category" name="category" placeholder="Category" required>
          <input type="text" id="new-password" name="password" placeholder="Password" required>
        </div>
        <div id="generate-pass">
          <button type="button" class="generate-button">Generate Password</button>
          <!-- <input type="range" min="1" max="20" value="12" class="slider" id="myRange"> -->
          <label for="range" class="form-label">Length:</label>
          <input type="range" class="form-range" min="10" max="20" step="1" value="12" id="range">
          <label for="range" class="form-label" id="rangeNum">12</label>

          <input type="checkbox" id="uppercase" class="checkbox" name="pass-req" value="Uppercase" checked>
  <label for="uppercase">Uppercase</label>
          <input type="checkbox" id="lowercase" class="checkbox" name="pass-req" value="Lowercase" checked>
  <label for="lowercase">Lowercase</label>
          <input type="checkbox" id="numbers" class="checkbox" name="pass-req" value="Numbers" checked>
  <label for="numbers">Numbers</label>
          <input type="checkbox" id="symbols" class="checkbox" name="pass-req" value="Symbols" checked>
  <label for="symbols">Symbols</label>
        </div>
          <button type="submit" class="save-button">Save</button>
        </form>
      </div>

      <table class="table">
      </table>
      </div>
    </main>




    <%- include('./partials/_footer'); %>
</body>

</html>
