<!DOCTYPE html>
<html lang="en">

<head>
  <title>MyVault</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
    <%- include('./partials/_header'); %>

    <main class="main-content">
      <ul class="side-menu">
        <li>All Passwords</li>
        <li>Work</li>
        <li>Finances</li>
        <li>Social Media</li>
        <li>Entertainment</li>
      </ul>

      <div class="passwords-section">
      <div class="vault-header">
        <h1>MyVault</h1>
        <button type="button" class="add-new">Add New</button>
      </div>

      <table class="table">
        <!-- <h2>MyVault</h2> -->
        <tr class="shown-column">
          <td>Google</td>
          <td>terry.cruz@gmail..com</td>
        </tr>
        <tr class="hidden-info">
          <td>Google</td>
          <td>terry.cruz@gmail..com</td>
        </tr>
        <tr class="shown-column">
          <td>Facebook</td>
          <td>terry.cruz@gmail.com</td>
        </tr>
        <tr class="shown-column">
          <td>Bank Of Montreal</td>
          <td>cruzterry99</td>
        </tr>
        <tr class="shown-column">
          <td>Snapchat</td>
          <td>cruz99</td>
        </tr>
        <tr class="shown-column">
          <td>GitHub</td>
          <td>terrycruz1</td>
        </tr>
        <tr class="shown-column">
          <td>Bell Mobility</td>
          <td>terryc</td>
        </tr>
      </table>
      </div>
    </main>




    <%- include('./partials/_footer'); %>
</body>

</html>
