<!DOCTYPE html>
<html lang="en">

<head>
  <title>MyVault</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
    <%- include('./partials/_header'); %>

    <ul class="side-menu">
      <li>All Passwords</li>
    <li>Work</li>
    <li>Finances</li>
    <li>Social Media</li>
    <li>Entertainment</li>
    </ul>




    <%- include('./partials/_footer'); %>
</body>

</html>
