body {
  min-height: 100vh;
  background-color: #EAEAEA;
}

*:focus {
  outline: none;
}

nav {
  width: 100%;
  height: 120px;
  padding: 10px;
  background: white;
  border-bottom: 4px solid #273644;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Nixie One', serif;
  font-weight: 400;
}

.nav-links {
  padding: 10px;
  display: flex;
}

.navbar li {
  font-size: 18px;
  padding: 12px;
  list-style: none;
  color: #F59D2A;
  border: 3px solid #F59D2A;
  border-radius: 50px;
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.navbar li:hover {
  background-color: #F59D2A;
  color: white;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #273644;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

ul.side-menu {
  margin: 0;
  background-color: #34495D;
  padding-left: 0;
  width: 250px;
  height: 90vh;
}

.side-menu li {
  width: 250px;
  color: white;
  font-size: 20px;
  list-style: none;
  padding: 15px;
  transition: width .3s;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.side-menu li:hover {
  width: 260px;
  cursor: pointer;
}

.side-menu li:nth-child(odd) {
  background-color: #273644;
}

.side-menu li:nth-child(even) {
  background-color: #34495D;
}

.search-bar {
  border: 3px solid #F59D2A;
  border-radius: 30px;
  resize: none;
  width: 400px;
  display: flex;
  padding: 10px;
  justify-items: flex-end;
  color: #273644;
}

::placeholder {
  color: #273644;
  opacity: .7;
}

.main-content {
  display: flex;
}

table {
  border-collapse: collapse;
  background-color: #273644;
  width: 95%;
  height: 50%;
  // margin: 0 auto;
  margin-top: 20px;
}

td {
  text-align: left;
  padding: 20px;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

tr.shown-column:nth-child(even) {
  background-color: #34495D;
}

.hidden-info {
  display: none;
}

.passwords-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vault-header {
  margin-top: 20px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.add-new {
  font-size: 18px;
  padding: 0 30px 0 30px;
  height: 50%;
  list-style: none;
  color: white;
  background-color:#F59D2A;
  border-radius: 50px;
  border: 3px solid #F59D2A;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.add-new:hover {
  background-color: white;
  color: #F59D2A;
  cursor: pointer;
  border: 3px solid #F59D2A;
  border-radius: 50px;
}

.new-password {
  display: flex;
  justify-content: space-between;
  width: 95%;
  border: 3px solid #F59D2A;
  padding: 40px;
  display: none;
}

.new-password input {
  border: 3px solid #F59D2A;
  border-radius: 50px;
  padding: 10px;
  width: 400px;
  margin: 0 20px 0 20px;
}

.new-password .save-button {
  font-size: 18px;
  padding: 10px;
  list-style: none;
  color: white;
  background-color:#F59D2A;
  border: 3px solid #F59D2A;
  border-radius: 50px;
  width: 120px;
}

.new-password button:hover {
  background-color: white;
  color: #F59D2A;
  cursor: pointer;
  border-radius: 50px;
}
