body {
  min-height: 100vh;
  background-color: #EAEAEA;
}

*:focus {
  outline: none;
}

nav {
  width: 100%;
  height: 120px;
  padding: 10px;
  background: white;
  border-bottom: 4px solid #273644;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  padding: 10px;
  display: flex;
}

.navbar li {
  font-size: 18px;
  padding: 12px;
  list-style: none;
  color: #F59D2A;
  border: 3px solid #F59D2A;
  border-radius: 50px;
  margin-left: 20px;
}

.navbar li:hover {
  background-color: #F59D2A;
  color: white;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #273644;
  color: #445d75;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.side-menu {
  margin: 0;
  background-color: #273644;
  width: 250px;
  padding-left: 0;
}

.side-menu li {
  color: white;
  font-size: 20px;
  list-style: none;
  padding: 15px;
}

.side-menu li:hover {
  width: 260px;
  cursor: pointer;
}

.side-menu li:nth-child(odd) {
  background-color: #273644;
}

.side-menu li:nth-child(even) {
  background-color: #34495D;
}

.search-bar {
  border: 3px solid #F59D2A;
  border-radius: 30px;
  resize: none;
  width: 400px;
  display: flex;
  padding: 10px;
  justify-items: flex-end;
  color: #273644;
}

::placeholder {
  color: #273644;
  opacity: .7;
}
